<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>BP | Black Pearl Event Management System</title>

    <!-- Favourite Icon -->
    <link rel="shortcut icon" type="image/jpg" href="/images/logo/img-logo.png" />

    <link rel="stylesheet" type="text/css" href="/css/css-bootstrap.min.css">

    <link rel="stylesheet" type="text/css" href="/css/fonts-LineIcons.css">

    <link rel="stylesheet" type="text/css" href="/css/css-nivo-lightbox.css">

    <link rel="stylesheet" type="text/css" href="/css/css-animate.css">

    <link rel="stylesheet" type="text/css" href="/css/css-main.css">

    <link rel="stylesheet" type="text/css" href="/css/css-responsive.css">

    <script src="/js/js-jquery-min.js"></script>
</head>

<body>