<div class="row">
    <div class="col-lg-12 content-header">
        <h1>Dashboard <small>Control Panel</small></h1>
        <ol class="breadcrumb">
            <li><a href="/admin"><i class="fa fa-fw fa-dashboard"></i> Dashboard </a></li>
            <li class="active">Home</li>
        </ol>
    </div>
</div>

<!-- TOP BOXES -->
<div class="row">
    <div class="col-lg-12">
        <% include top_boxes %>
    </div>
</div>


<!-- SALES REPORTS -->
<div class="row">
    <div class="col-lg-12">
        <% include sales_graph %>
    </div>
</div>

<!-- BEST SELLER CATEGORIES(pitch Section) -->
<div class="row">

    <div class="col-lg-6">
        <% include best_seller_categories %>
    </div>

    <div class="col-lg-6">
        <?php include 'reports/customers.php'; ?>
    </div>
</div>